---
import { Layout } from "@/layouts";
import { Hero, WorkExperiences, Projects } from "@/components";
---

<Layout
  title="jass.gg - Jass's Personal Website"
  description="Jass's personal website - software engineer, builder, and occasional blogger"
  type="website">
  <main class="container-narrow h-full">
    <Hero />
    <WorkExperiences />
    <Projects />
  </main>
</Layout>
