---
import { Layout } from "@/layouts";
import { Hero, WorkExperiences, Projects } from "@/components";
---

<Layout
  title="jass.gg"
  description="terminally online developer"
  image="https://image.thum.io/get/width/1200/https://jass.gg"
  imageAlt="preview of jass.gg homepage"
  type="website">
  <main class="container-narrow h-full">
    <Hero />
    <WorkExperiences />
    <Projects />
  </main>
</Layout>
