---
import { Layout } from "@/layouts";
import { Hero, WorkExperiences, Projects } from "@/components";
---

<Layout
  title="jass.gg"
  description="terminally online developer"
  type="website">
  <main class="container-narrow h-full">
    <Hero />
    <WorkExperiences />
    <Projects />
  </main>
</Layout>
