---
import { Layout } from "@/layouts";
import { Hero, WorkExperiences, Projects } from "@/components";
---

<Layout>
  <main class="container-narrow h-full">
    <Hero />
    <WorkExperiences />
    <Projects />
  </main>
</Layout>
