---
import { Layout } from "@/layouts";
import { Header, Hero, Projects, Footer } from "@/components";
---

<Layout>
  <main class="container-narrow h-full">
    <Header />
    <Hero />
    <Projects />
    <Footer />
  </main>
</Layout>
