---
import { Layout } from "@/layouts";
---

<Layout>
  <main class="container-narrow h-full">
    <section class="my-8 flex flex-col justify-between gap-6 md:my-12">
      <div class="flex flex-col gap-2">
        <h1 class="font-comic-neue text-primary text-4xl font-bold md:text-5xl">
          palette
        </h1>
        <h2 class="text-lg font-bold md:text-xl">
          |'palət| — a range of colors or elements available to an artist or
          creator
        </h2>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-sm md:text-base">
          this is my dev palette, my dev env, my <span class="font-bold"
            >'what i use to do shit'</span
          >.
        </p>
        <ul>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">Macbook M3 Air -</span> not because i love
              it, but because you just can't beat macbooks for laptops.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">Aerospace -</span> i3wm for macs.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">Arc -</span> a so much better way to browse.
              but prolly one of the biggest fumbles by the devs.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">Raycast -</span> mac's spotlight search, but
              10x better.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">Notion -</span> for brain dumping everything
              raw.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">Neovim -</span> for building personal projects.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">Cursor -</span> for building stuff @ work.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <span class="font-bold">WezTerm -</span> powerful cross-platform terminal
              emulator, implemented in rust.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
