---
import { Layout } from "@/layouts";
---

<Layout>
  <main class="container-narrow h-full">
    <section class="my-8 flex flex-col justify-between gap-6 md:my-12">
      <div class="flex flex-col gap-2">
        <h1 class="font-comic-neue text-primary text-4xl font-bold md:text-5xl">
          palette
        </h1>
        <h2 class="text-lg font-bold md:text-xl">
          |'palət| — a range of colors or elements available to an artist or
          creator
        </h2>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-sm md:text-base">
          this is my dev palette, my dev env, my <span class="font-bold"
            >'what i use to do shit'</span
          >.
        </p>
        <ul>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://www.apple.com/macbook-air-m3/"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >Macbook M3 Air</a
              > — not because i love it, but because you just can't beat macbooks
              for laptops.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://github.com/nikitabobko/AeroSpace"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >Aerospace</a
              > — i3wm for macs.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://arc.net"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >Arc</a
              > — a so much better way to browse. but prolly one of the biggest fumbles
              by the devs.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://www.raycast.com/"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >Raycast</a
              > — mac's spotlight search, but 10x better.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://www.notion.so"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >Notion</a
              > — for brain dumping everything raw.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://neovim.io"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >Neovim</a
              > — for building personal projects.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://www.cursor.com"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >Cursor</a
              > — for building stuff @ work.
            </p>
          </li>
          <li>
            <p class="text-sm md:text-base">
              <a
                href="https://wezfurlong.org/wezterm/"
                target="_blank"
                class="hover:text-primary hover:decoration-primary font-bold transition-all duration-300 hover:underline"
                >WezTerm</a
              > — powerful cross-platform terminal emulator, implemented in rust.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
