---
import { Layout } from "@/layouts";
---

<Layout>
  <main class="container-narrow h-full">
    <section class="my-8 flex flex-col justify-between gap-6 md:my-12">
      <div class="flex flex-col gap-2">
        <h1 class="font-comic-neue text-primary text-4xl font-bold md:text-5xl">
          typing
        </h1>
        <h2 class="text-lg font-bold md:text-xl">
          i like typing. but i don't practice. so here's to accountability.
        </h2>
      </div>
    </section>
  </main>
</Layout>
