---
import ASSETS from "@/assets";
import { Badge } from "@/components";
import { URLS } from "@/constants";

const PROJECTS = [
  {
    name: "psgoogle",
    description:
      "a fast search engine for my college's website psgtech.edu. rewrote the previous slow backend to make it actually viable. overkilled it.",
    tags: ["golang", "next.js"],
  },
  {
    name: "kaching",
    description:
      "a prototype payment gateway for receiving payments with cryptocurrency. kinda like 'Stripe for web3'. yes, now stripe has it in-house.",
    tags: ["web3", "next.js"],
  },
  {
    name: "askupi",
    description:
      "upload ur txn history pdf, let gemini process it, and talk to it. ask questions, and tips to not go broke. first-try vibecoding.",
    tags: ["ai", "next.js", "vibe-coded"],
  },
];
---

<section class="my-8 flex flex-col justify-between gap-6 md:my-12">
  <h2 class="text-lg font-bold md:text-xl">projects</h2>
  <div class="flex flex-col gap-4 md:gap-6">
    {
      PROJECTS.map((project) => (
        <div class="flex flex-col gap-2">
          <h3 class="text-base font-bold md:text-lg">{project.name}</h3>
          <div class="flex flex-wrap items-center gap-2">
            {project.tags.map((tag) => (
              <Badge>{tag}</Badge>
            ))}
          </div>
          <p class="text-sm md:text-base">{project.description}</p>
        </div>
      ))
    }
  </div>
  <div class="text-primary flex items-center gap-2">
    <img {...ASSETS.ICONS.GITHUB_PRIMARY} alt="github" />
    <p>
      checkout
      <a
        href={URLS.GITHUB}
        target="_blank"
        class="decoration-primary font-bold italic underline">github</a
      >
      for everything else. i like to keep them MIT :)
    </p>
  </div>
</section>
