---
import "@/styles/global.css";
import { Header, Footer, PostHog } from "@/components";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>jass</title>
    <ClientRouter />
    <PostHog />
  </head>
  <body class="dark bg-background text-foreground h-full min-h-screen w-full">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
